.jumbotron {
    background-color: white;
    text-align: center;
}

#question {
    text-align: center;
}

#answers {
    text-align: center;
}

#result {
    text-align: center;
    font-size: small;
    color: grey;
}

#fResult {
    text-align: center;
    font-size: small;
    color: grey;
}

#timer {
    text-align: right;
    font-weight: bold;
}

#allDone {
    font-weight: bold;
    font-size: 24px;
}

#finalScore {
    font-weight: normal;
    font-size: smaller;
}

#finalScore{
    text-align: center;
}

#enterInitials {
    text-align: center;
}

#scores {
    background-color: lightblue;
}
#topScoreBtn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: dodgerblue;
}

